<div class="footer footer-light" style="bottom:0px;">
    <!--<div class="footer-content">
        <a href="#" class="footer-logo"></a>
        <p class="footer-text">
            When employees perform jobs safely, <br>everyone wins.
        </p>
    </div>
    <div class="footer-socials">
        <a href="#" class="scale-hover facebook-color"><i class="fa fa-facebook"></i></a>
        <a href="#" class="scale-hover twitter-color"><i class="fa fa-twitter"></i></a>
        <a href="#" class="scale-hover google-color"><i class="fa fa-google-plus"></i></a>
        <a href="#" class="scale-hover phone-color"><i class="fa fa-phone"></i></a>
        <a href="#" class="scale-hover mail-color show-share-bottom"><i class="fa fa-refresh"></i></a>
        <a href="#" class="scale-hover bg-night-dark back-to-top"><i class="fa fa-angle-up"></i></a>
        <div class="clear"></div> 
    </div>-->
    <div class="footer-content">
        <a href="#" class="footer-logo"></a>
        <!--<p class="footer-text">
            When employees perform jobs safely, <br>everyone wins.
        </p>-->
    </div>
    <!--<p class="footer-strip">Copyright <span id="copyright-year">2016</span> Enabled. All Rights Reserved</p>-->
</div>
<div class="footer-clear disabled">
</div>