<div class="header-fixed header-light">
	<!-- <a href="#" class="header-icon-1 open-left-sidebar"><i class="fa fa-navicon"></i></a> -->
	<a href="index.html" class="header-logo"></a>
	<%#= link_to "", :class => "header-logo" %>
	<!-- <a href="#" class="header-icon-4 open-right-sidebar"><i class="fa fa-envelope-o"></i></a> -->
</div>