<div class="sidebar-left sidebar-light" style="width: 250px; transform: translateX(-280px);">
	<div class="sidebar-scroll">
		<div class="sidebar-header">
			<a href="#" class="sidebar-logo"></a>
			<%#= image_tag "logo-sidebar.png", :class => "sidebar-logo" %>
		</div>
		<div class="sidebar-menu">
			<a class="menu-item border-menu-white" href="index.html">
				<i class="fa fa-star-o"></i>
				Welcome
				<i class="fa fa-circle"></i>
			</a>
			<div class="has-submenu">
				<a class="menu-item border-menu-yellow open-submenu" href="#"><!-- active-item -->
				<i class="fa fa-home"></i>
				Home
				<i class="fa fa-angle-right"></i>
			</a>
			<div class="submenu" style="width: 250px; transform: translateX(-250px);"><!--active-submenu-->
			<a href="#" class="sidebar-logo"></a>
			<div class="sidebar-divider">Homepage Styles</div>
			<a class="menu-item close-submenu" href="#">
				<i class="fa fa-level-up"></i>
				Back to Menu
				<i class="fa fa-angle-left"></i>
			</a>
			<a class="menu-item" href="index-classic.html">
				<i class="fa fa-home"></i>
				Classic Page
				<i class="fa fa-circle"></i>
			</a>
			<a class="menu-item" href="index-cover.html">
				<i class="fa fa-picture-o"></i>
				Cover Page
				<i class="fa fa-circle"></i>
			</a>
			<a class="menu-item" href="index-circle.html">
				<i class="fa fa-circle-o"></i>
				Circle Page
				<i class="fa fa-circle"></i>
			</a>
			<a class="menu-item" href="index-no-slider.html">
				<i class="fa fa-list-ul"></i>
				No Slider
				<i class="fa fa-circle"></i>
			</a>
			<a class="menu-item" href="index-store.html">
				<i class="fa fa-shopping-cart"></i>
				Store Front
				<i class="fa fa-circle"></i>
			</a>
			<a class="menu-item" href="index-news.html">
				<i class="fa fa-newspaper-o"></i>
				News Front
				<i class="fa fa-circle"></i>
			</a>
			<a class="menu-item" href="index-splash.html">
				<i class="fa fa-eye"></i>
				Splash Page
				<i class="fa fa-circle"></i>
			</a>
			<a class="menu-item" href="index-login.html">
				<i class="fa fa-user"></i>
				Login Page
				<i class="fa fa-circle"></i>
			</a>
			<a class="menu-item" href="index-register.html">
				<i class="fa fa-code"></i>
				Register Page
				<i class="fa fa-circle"></i>
			</a>
			<a class="menu-item" href="index-landing.html">
				<i class="fa fa-th"></i>
				Landing Page
				<i class="fa fa-circle"></i>
			</a>
			<a class="menu-item" href="index-soon.html">
				<i class="fa fa-clock-o"></i>
				Soon Page
				<i class="fa fa-circle"></i>
			</a>
			<a class="menu-item close-submenu" href="#">
				<i class="fa fa-level-up"></i>
				Back to Menu
				<i class="fa fa-angle-left"></i>
			</a>
		</div>
	</div>
	<div class="has-submenu">
		<a class="menu-item border-menu-lime open-submenu" href="#"><!-- active-item -->
		<i class="fa fa-navicon"></i>
		Menus
		<i class="fa fa-angle-right"></i>
	</a>
	<div class="submenu" style="width: 250px; transform: translateX(-250px);"><!--active-submenu-->
	<a href="#" class="sidebar-logo"></a>
	<div class="sidebar-divider">Navigation Styles</div>
	<a class="menu-item close-submenu" href="#">
		<i class="fa fa-level-up"></i>
		Back to Menu
		<i class="fa fa-angle-left"></i>
	</a>
	<a class="menu-item" href="menu-settings.html">
		<i class="fa fa-angle-right"></i>
		Menus &amp; Settings
		<i class="fa fa-circle"></i>
	</a>
	<a class="menu-item" href="menu-sidebar-left.html">
		<i class="fa fa-angle-right"></i>
		Sidebar Left
		<i class="fa fa-circle"></i>
	</a>
	<a class="menu-item" href="menu-sidebar-right.html">
		<i class="fa fa-angle-right"></i>
		Sidebar Right
		<i class="fa fa-circle"></i>
	</a>
	<a class="menu-item" href="menu-sidebar-dual.html">
		<i class="fa fa-angle-right"></i>
		Sidebar Dual
		<i class="fa fa-circle"></i>
	</a>
	<a class="menu-item" href="menu-modal.html">
		<i class="fa fa-angle-right"></i>
		Modal Menu
		<i class="fa fa-circle"></i>
	</a>
	<a class="menu-item" href="menu-material.html">
		<i class="fa fa-angle-right"></i>
		Material Menu
		<i class="fa fa-circle"></i>
	</a>
	<a class="menu-item" href="menu-header.html">
		<i class="fa fa-angle-right"></i>
		Header Menu
		<i class="fa fa-circle"></i>
	</a>
	<a class="menu-item" href="menu-footer.html">
		<i class="fa fa-angle-right"></i>
		Footer Menu
		<i class="fa fa-circle"></i>
	</a>
	<a class="menu-item" href="menu-landing.html">
		<i class="fa fa-angle-right"></i>
		Landing Menu
		<i class="fa fa-circle"></i>
	</a>
	<a class="menu-item" href="page-sitemap.html">
		<i class="fa fa-angle-right"></i>
		Sitemap Menu
		<i class="fa fa-circle"></i>
	</a>
	<a class="menu-item close-submenu" href="#">
		<i class="fa fa-level-up"></i>
		Back to Menu
		<i class="fa fa-angle-left"></i>
	</a>
</div>
</div>
<div class="has-submenu">
<a class="menu-item border-menu-green open-submenu" href="#"><!-- active-item -->
<i class="fa fa-cog"></i>
Features
<i class="fa fa-angle-right"></i>
</a>
<div class="submenu" style="width: 250px; transform: translateX(-250px);"><!--active-submenu-->
<a href="#" class="sidebar-logo"></a>
<div class="sidebar-divider">Copy and paste features</div>
<a class="menu-item close-submenu" href="#">
<i class="fa fa-level-up"></i>
Back to Menu
<i class="fa fa-angle-left"></i>
</a>
<a class="menu-item" href="features-typography.html">
<i class="fa fa-angle-right"></i>
Typography
<i class="fa fa-circle"></i>
</a>
<a class="menu-item" href="features-tabs.html">
<i class="fa fa-angle-right"></i>
Tabs
<i class="fa fa-circle"></i>
</a>
<a class="menu-item" href="features-toggles.html">
<i class="fa fa-angle-right"></i>
Toggles
<i class="fa fa-circle"></i>
</a>
<a class="menu-item" href="features-accordions.html">
<i class="fa fa-angle-right"></i>
Accordions
<i class="fa fa-circle"></i>
</a>
<a class="menu-item" href="features-notifications.html">
<i class="fa fa-angle-right"></i>
Notifications
<i class="fa fa-circle"></i>
</a>
<a class="menu-item" href="features-charts.html">
<i class="fa fa-angle-right"></i>
Charts &amp; Stats
<i class="fa fa-circle"></i>
</a>
<a class="menu-item" href="features-buttons.html">
<i class="fa fa-angle-right"></i>
Buttons &amp; Icons
<i class="fa fa-circle"></i>
</a>
<a class="menu-item" href="features-detection.html">
<i class="fa fa-angle-right"></i>
Device Detection
<i class="fa fa-circle"></i>
</a>
<a class="menu-item" href="features-others.html">
<i class="fa fa-angle-right"></i>
Other Features
<i class="fa fa-circle"></i>
</a>
<a class="menu-item close-submenu" href="#">
<i class="fa fa-level-up"></i>
Back to Menu
<i class="fa fa-angle-left"></i>
</a>
</div>
</div>
<div class="has-submenu">
<a class="menu-item border-menu-teal open-submenu active-item active-submenu-history" href="#"><!-- active-item -->
<i class="fa fa-file-o"></i>
Pages
<i class="fa fa-angle-right"></i>
</a>
<div class="submenu active-submenu active-submenu-12" style="width: 250px; transform: translateX(-250px);"><!--active-submenu-->
<a href="#" class="sidebar-logo"></a>
<div class="sidebar-divider">Page templates included</div>
<a class="menu-item close-submenu" href="#">
<i class="fa fa-level-up"></i>
Back to Menu
<i class="fa fa-angle-left"></i>
</a>
<a class="menu-item" href="page-error.html">
<i class="fa fa-angle-right"></i>
Error Page
<i class="fa fa-circle"></i>
</a>
<a class="menu-item" href="page-soon.html">
<i class="fa fa-angle-right"></i>
Soon Page
<i class="fa fa-circle"></i>
</a>
<a class="menu-item" href="page-activity.html">
<i class="fa fa-angle-right"></i>
Activity Page
<i class="fa fa-circle"></i>
</a>
<a class="menu-item" href="page-profile-1.html">
<i class="fa fa-angle-right"></i>
Profile Page 1
<i class="fa fa-circle"></i>
</a>
<a class="menu-item" href="page-profile-2.html">
<i class="fa fa-angle-right"></i>
Profile Page 2
<i class="fa fa-circle"></i>
</a>
<a class="menu-item active-item active-submenu-history" href="page-login.html">
<i class="fa fa-angle-right"></i>
Log In Page
<i class="fa fa-circle"></i>
</a>
<a class="menu-item" href="page-signup.html">
<i class="fa fa-angle-right"></i>
Sign Up Page
<i class="fa fa-circle"></i>
</a>
<a class="menu-item" href="page-userlist.html">
<i class="fa fa-angle-right"></i>
Userlist Page
<i class="fa fa-circle"></i>
</a>
<a class="menu-item" href="page-reviews.html">
<i class="fa fa-angle-right"></i>
User Reviews
<i class="fa fa-circle"></i>
</a>
<a class="menu-item close-submenu" href="#">
<i class="fa fa-level-up"></i>
Back to Menu
<i class="fa fa-angle-left"></i>
</a>
</div>
</div>
<div class="has-submenu">
<a class="menu-item border-menu-sky open-submenu" href="#"><!-- active-item -->
<i class="fa fa-mobile"></i>
AppStyled
<i class="fa fa-angle-right"></i>
</a>
<div class="submenu" style="width: 250px; transform: translateX(-250px);"><!--active-submenu-->
<a href="#" class="sidebar-logo"></a>
<div class="sidebar-divider">Application Styled Featres</div>
<a class="menu-item close-submenu" href="#">
<i class="fa fa-level-up"></i>
Back to Menu
<i class="fa fa-angle-left"></i>
</a>
<a class="menu-item" href="pageapp-chat.html">
<i class="fa fa-angle-right"></i>
Chat
<i class="fa fa-circle"></i>
</a>
<a class="menu-item" href="pageapp-login.html">
<i class="fa fa-angle-right"></i>
Log In
<i class="fa fa-circle"></i>
</a>
<a class="menu-item" href="pageapp-signup.html">
<i class="fa fa-angle-right"></i>
Sign Up
<i class="fa fa-circle"></i>
</a>
<a class="menu-item" href="pageapp-calendar.html">
<i class="fa fa-angle-right"></i>
Calendar
<i class="fa fa-circle"></i>
</a>
<a class="menu-item" href="pageapp-tasklist.html">
<i class="fa fa-angle-right"></i>
Tasklist
<i class="fa fa-circle"></i>
</a>
<a class="menu-item" href="pageapp-checklist.html">
<i class="fa fa-angle-right"></i>
Checklist
<i class="fa fa-circle"></i>
</a>
<a class="menu-item" href="pageapp-reminders.html">
<i class="fa fa-angle-right"></i>
Reminders
<i class="fa fa-circle"></i>
</a>
<a class="menu-item" href="pageapp-coverpage.html">
<i class="fa fa-angle-right"></i>
Coverpage
<i class="fa fa-circle"></i>
</a>
<a class="menu-item" href="pageapp-timeline-1.html">
<i class="fa fa-angle-right"></i>
Timeline 1
<i class="fa fa-circle"></i>
</a>
<a class="menu-item" href="pageapp-timeline-2.html">
<i class="fa fa-angle-right"></i>
Timeline 2
<i class="fa fa-circle"></i>
</a>
<a class="menu-item close-submenu" href="#">
<i class="fa fa-level-up"></i>
Back to Menu
<i class="fa fa-angle-left"></i>
</a>
</div>
</div>
<div class="has-submenu">
<a class="menu-item border-menu-blue open-submenu" href="#"><!-- active-item -->
<i class="fa fa-image"></i>
Portfolios
<i class="fa fa-angle-right"></i>
</a>
<div class="submenu" style="width: 250px; transform: translateX(-250px);"><!--active-submenu-->
<a href="#" class="sidebar-logo"></a>
<div class="sidebar-divider">Portfolio Styles</div>
<a class="menu-item close-submenu" href="#">
<i class="fa fa-level-up"></i>
Back to Menu
<i class="fa fa-angle-left"></i>
</a>
<a class="menu-item" href="portfolio-one.html">
<i class="fa fa-angle-right"></i>
One Item
<i class="fa fa-circle"></i>
</a>
<a class="menu-item" href="portfolio-two.html">
<i class="fa fa-angle-right"></i>
Two Items
<i class="fa fa-circle"></i>
</a>
<a class="menu-item" href="portfolio-adapt.html">
<i class="fa fa-angle-right"></i>
Adaptive
<i class="fa fa-circle"></i>
</a>
<a class="menu-item" href="portfolio-filter.html">
<i class="fa fa-angle-right"></i>
Filterable
<i class="fa fa-circle"></i>
</a>
<a class="menu-item" href="portfolio-wide.html">
<i class="fa fa-angle-right"></i>
Widescreen
<i class="fa fa-circle"></i>
</a>
<a class="menu-item" href="portfolio-item.html">
<i class="fa fa-angle-right"></i>
Portfolio Item
<i class="fa fa-circle"></i>
</a>
<a class="menu-item close-submenu" href="#">
<i class="fa fa-level-up"></i>
Back to Menu
<i class="fa fa-angle-left"></i>
</a>
</div>
</div>
<div class="has-submenu">
<a class="menu-item border-menu-purple open-submenu" href="#"><!-- active-item -->
<i class="fa fa-camera"></i>
Galleries
<i class="fa fa-angle-right"></i>
</a>
<div class="submenu" style="width: 250px; transform: translateX(-250px);"><!--active-submenu-->
<a href="#" class="sidebar-logo"></a>
<div class="sidebar-divider">Gallery Styles</div>
<a class="menu-item close-submenu" href="#">
<i class="fa fa-level-up"></i>
Back to Menu
<i class="fa fa-angle-left"></i>
</a>
<a class="menu-item" href="gallery-round.html">
<i class="fa fa-angle-right"></i>
Rounded
<i class="fa fa-circle"></i>
</a>
<a class="menu-item" href="gallery-square.html">
<i class="fa fa-angle-right"></i>
Squared
<i class="fa fa-circle"></i>
</a>
<a class="menu-item" href="gallery-adapt.html">
<i class="fa fa-angle-right"></i>
Adaptive
<i class="fa fa-circle"></i>
</a>
<a class="menu-item" href="gallery-filter.html">
<i class="fa fa-angle-right"></i>
Filterable
<i class="fa fa-circle"></i>
</a>
<a class="menu-item" href="gallery-wide.html">
<i class="fa fa-angle-right"></i>
Widescreen
<i class="fa fa-circle"></i>
</a>
<a class="menu-item close-submenu" href="#">
<i class="fa fa-level-up"></i>
Back to Menu
<i class="fa fa-angle-left"></i>
</a>
</div>
</div>
<div class="has-submenu">
<a class="menu-item border-menu-pink open-submenu" href="#"><!-- active-item -->
<i class="fa fa-newspaper-o"></i>
News
<i class="fa fa-angle-right"></i>
</a>
<div class="submenu" style="width: 250px; transform: translateX(-250px);"><!--active-submenu-->
<a href="#" class="sidebar-logo"></a>
<div class="sidebar-divider">News Template</div>
<a class="menu-item close-submenu" href="#">
<i class="fa fa-level-up"></i>
Back to Menu
<i class="fa fa-angle-left"></i>
</a>
<a class="menu-item" href="news-home.html">
<i class="fa fa-angle-right"></i>
News Front
<i class="fa fa-circle"></i>
</a>
<a class="menu-item" href="news-cover.html">
<i class="fa fa-angle-right"></i>
News Cover
<i class="fa fa-circle"></i>
</a>
<a class="menu-item" href="news-article-1.html">
<i class="fa fa-angle-right"></i>
Article List 1
<i class="fa fa-circle"></i>
</a>
<a class="menu-item" href="news-article-2.html">
<i class="fa fa-angle-right"></i>
Article List 2
<i class="fa fa-circle"></i>
</a>
<a class="menu-item" href="news-article-3.html">
<i class="fa fa-angle-right"></i>
Article List 3
<i class="fa fa-circle"></i>
</a>
<a class="menu-item" href="news-post-1.html">
<i class="fa fa-angle-right"></i>
Article Post 1
<i class="fa fa-circle"></i>
</a>
<a class="menu-item" href="news-post-2.html">
<i class="fa fa-angle-right"></i>
Article Post 2
<i class="fa fa-circle"></i>
</a>
<a class="menu-item" href="news-post-3.html">
<i class="fa fa-angle-right"></i>
Article Post 3
<i class="fa fa-circle"></i>
</a>
<a class="menu-item" href="news-archive.html">
<i class="fa fa-angle-right"></i>
News Archive
<i class="fa fa-circle"></i>
</a>
<a class="menu-item close-submenu" href="#">
<i class="fa fa-level-up"></i>
Back to Menu
<i class="fa fa-angle-left"></i>
</a>
</div>
</div>
<div class="has-submenu">
<a class="menu-item border-menu-red open-submenu" href="#"><!-- active-item -->
<i class="fa fa-shopping-cart"></i>
Store
<i class="fa fa-angle-right"></i>
</a>
<div class="submenu" style="width: 250px; transform: translateX(-250px);"><!--active-submenu-->
<a href="#" class="sidebar-logo"></a>
<div class="sidebar-divider">Store Template</div>
<a class="menu-item close-submenu" href="#">
<i class="fa fa-level-up"></i>
Back to Menu
<i class="fa fa-angle-left"></i>
</a>
<a class="menu-item" href="store-index-1.html">
<i class="fa fa-angle-right"></i>
Store Front 1
<i class="fa fa-circle"></i>
</a>
<a class="menu-item" href="store-index-2.html">
<i class="fa fa-angle-right"></i>
Store Front 2
<i class="fa fa-circle"></i>
</a>
<a class="menu-item" href="store-cover.html">
<i class="fa fa-angle-right"></i>
Store Cover
<i class="fa fa-circle"></i>
</a>
<a class="menu-item" href="store-cards.html">
<i class="fa fa-angle-right"></i>
Store Cards
<i class="fa fa-circle"></i>
</a>
<a class="menu-item" href="store-product.html">
<i class="fa fa-angle-right"></i>
Store Product
<i class="fa fa-circle"></i>
</a>
<a class="menu-item" href="store-cart-1.html">
<i class="fa fa-angle-right"></i>
Store Cart 1
<i class="fa fa-circle"></i>
</a>
<a class="menu-item" href="store-cart-2.html">
<i class="fa fa-angle-right"></i>
Store Cart 2
<i class="fa fa-circle"></i>
</a>
<a class="menu-item" href="store-cart-3.html">
<i class="fa fa-angle-right"></i>
Store Checkout
<i class="fa fa-circle"></i>
</a>
<a class="menu-item" href="store-history.html">
<i class="fa fa-angle-right"></i>
Store History
<i class="fa fa-circle"></i>
</a>
<a class="menu-item" href="store-faq.html">
<i class="fa fa-angle-right"></i>
Store FAQ's
<i class="fa fa-circle"></i>
</a>
<a class="menu-item" href="store-about.html">
<i class="fa fa-angle-right"></i>
Store About
<i class="fa fa-circle"></i>
</a>
<a class="menu-item close-submenu" href="#">
<i class="fa fa-level-up"></i>
Back to Menu
<i class="fa fa-angle-left"></i>
</a>
</div>
</div>
<div class="has-submenu">
<a class="menu-item border-menu-dawn open-submenu" href="#"><!-- active-item -->
<i class="fa fa-pencil"></i>
Blog
<i class="fa fa-angle-right"></i>
</a>
<div class="submenu" style="width: 250px; transform: translateX(-250px);"><!--active-submenu-->
<a href="#" class="sidebar-logo"></a>
<div class="sidebar-divider">Blog Template</div>
<a class="menu-item close-submenu" href="#">
<i class="fa fa-level-up"></i>
Back to Menu
<i class="fa fa-angle-left"></i>
</a>
<a class="menu-item" href="blog-post.html">
<i class="fa fa-angle-right"></i>
Blog Post
<i class="fa fa-circle"></i>
</a>
<a class="menu-item" href="blog-list.html">
<i class="fa fa-angle-right"></i>
Blog Articles
<i class="fa fa-circle"></i>
</a>
<a class="menu-item" href="blog-archive.html">
<i class="fa fa-angle-right"></i>
Blog Archive
<i class="fa fa-circle"></i>
</a>
<a class="menu-item close-submenu" href="#">
<i class="fa fa-level-up"></i>
Back to Menu
<i class="fa fa-angle-left"></i>
</a>
</div>
</div>
<a class="menu-item border-menu-orange" href="page-videos.html"><!-- active-item -->
<i class="fa fa-youtube-play"></i>
Videos
<i class="fa fa-circle"></i>
</a>
<a class="menu-item border-menu-sun" href="page-contact.html"><!-- active-item -->
<i class="fa fa-envelope-o"></i>
Contact
<i class="fa fa-circle"></i>
</a>
<a class="close-sidebar menu-item border-menu-yellow" href="#">
<i class="fa fa-times"></i>
Close
<i class="fa fa-circle"></i>
</a>
</div>
<em class="sidebar-copyright">Copyright 2016. All Rights Reserved</em>
</div>
</div>