.fixed-step-height{
	height: 55px !important;
	display: block;
	color: black !important;
	float: left;
}

.padding-top-15{
	padding-top: 15px !important;
}

.padding-top-12{
	padding-top: 12px !important;
}

.padding-left-0{
	padding-left: 0 !important;
}

.content-strip{
	 padding-top:10px !important;
	 padding-bottom:10px !important;
}

.content-strip .strip-content-cus {
    position: relative;
    z-index: 3;
}

.content-strip .strip-content-cus i {
	position: absolute;
	left: -10px;
	height: 100px;
	top: -50px;
	width: 25px;
	color: rgba(255,255,255,0.9);
	line-height: 93px;
	margin-left: 30px;
	font-size: 20px;
	margin-top:inherit;
}

.h4{
	color:black;margin-top:20px;
}

.content-strip .strip-content-cus a {
	margin-top:10px;
}

.content-strip .strip-content-cus h5 {
	color:white;
	font-size:18px;
}

.decoration{
	margin-bottom:10px!important;
}

.complete-step-icon{
	background-color: #37C597!important;
	border-color:#37C597;
	top:10px;
}

.incomplete-step-icon{
	color:#B9BCC0!important;
	border:1px solid #B9BCC0;
	top:10px;	
}

.library-step-icon{
	color:#777777!important;
	position:inherit;
	padding-right:0px; 
	font-size:1.5em;
}

.header-light h4{
	color:black;
	margin-top:20px;
}

.step-content-strip{
	padding-top:10px;
	padding-bottom:10px;
	bottom:0px;
}

.home{
	font-size:1.5em!important; 
	left:5px!important;
	margin-left:0px!important;
	padding-right:10px!important; 
}

.left-arrow{
	float:left; 
	margin-top:inherit; 
	left:15px!important;
	margin-left:20px!important;
}

.next-link{
	margin-top:-5px!important;
	float:right;
	top:20px!important;
	right:60px;
}

.next-button{
	float:right; 
	margin-top:inherit; 
	right:10px!important;
}

.content-strip strip-content-cus h5{
	color:white;
}

.news-article-share full-bottom{
	margin-bottom: 0px !important; 
	width:40%!important; 
	margin:5px auto;
}

.full-bottom{
	width:50%!important;
	top:10px;
}

.mark-complete-link{
	border-radius: 30px; 
	border: 2px solid; 
	border-color: green;
	background-color: inherit!important;
}

.mark-complete-icon{
	border-radius: 20px; 
	background-color: white!important; 
	color: green;
}

@media(min-width:320px) {
    .news-article-share a {
        font-size:12px!important;
        left:90px;
    }
}

@media(min-width:360px) {
    .news-article-share a {
        font-size:13px!important;
        left:110px;
    }
}

@media(min-width:414px) {
    .news-article-share a {
        font-size:16px!important;
        left:120px;
    }
}

.step-content{
	margin-top:20px;
}

.coloryel::before {
	color: #ffff00;
	text-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
	margin-top: 20px;
}

.bocolyel::before {
	color: #000000;
	margin-top: 20px;
}

.slider{
	background-color:white;
	padding-top:0px;
	padding-bottom:0px;
	margin-bottom:10px;
}

.swiper-wrapper{
	transform: translate3d(-2118px, 0px, 0px); 
	transition-duration: 0ms;
}

.swiper-slide{
	width: 706px;
}

.bg-green-dark{
	width:200px!important;
}

.assigned-icon{
	background-color:white;
	color: #2abb67!important;
	border:1px solid #2abb67!important;
}

.library{
	clear: both;
}

.library-content{
	position: relative;
}
.heading-border{
	border-color:#2980b9!important;
}

.heading{
	width:200px;
	background-color: #2980b9!important; 
}

.library-icon{
	color:#2980b9!important;
	background-color:white!important;
	border:1px solid #2980b9!important;
}

@media(min-width:320px) {
	.lib-h5{
		width:280px!important;
		padding-top:10px;
	}
}

@media(min-width:360px) {
	.lib-h5{
		width:320px!important;
		padding-top:10px;
	}
}

@media(min-width:414px) {
	.lib-h5{
		width:370px!important;
		padding-top:10px;
	}
}