.fixed-step-height{
	height: 55px !important;
	display: block;
	color: black !important;
}

.padding-top-15{
	padding-top: 15px !important;
}

.padding-top-12{
	padding-top: 12px !important;
}

.padding-left-0{
	padding-left: 0 !important;
}