<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Decnut </a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav pull-right" >
				<% if user_signed_in? %>
					<li><a href="#">Welcome, <%= current_user.fullname %></a></li>
				<% else %>
					<%= link_to "sign_in", new_user_session_path %>
				<% end %>
				
				<% if current_user.content_admin? %>
					<li><a href="/users">Users</a></li>
					<li><a href="/groups">Groups</a></li>
					<li><a href="/departments">Departments</a></li>
					<li><a href="/assignments">Assignments</a></li>
					<li><a href="/pathways">Pathways</a></li>
					<!-- <li><a href="/steps">Steps</a></li> -->
				<% elsif current_user.local_admin? %>
					<li><a href="/">Home</a></li>
					<li><a href="/users">Users</a></li>
					<li><a href="/groups">Groups</a></li>
					<li><a href="/departments">Departments</a></li>
					<li><a href="/assignments">Assignments</a></li>
					<li><a href="/pathways">Pathways</a></li>
					<!--<li><a href="/steps">Steps</a></li>-->
				<% end %>
				<li><a rel="nofollow" data-method="delete" href="/users/sign_out">Logout</a></li>
			</ul>
		</div>
	</div>
</nav>